.App {
  text-align: center;
}

main {
  position: absolute;
  margin-top: 200px;
  z-index: 1;
  width: 100%;
}

nav {
    background-color: #131010;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 200px;
}

.nav-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 54px;
    font-family: 'Limelight', cursive;
    color: limegreen;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

.apple-loader {
  height: 40vmin;
  pointer-events: none;
  height: 200px;
  width: 200px;
  filter: invert(62%) sepia(97%) saturate(601%) hue-rotate(67deg) brightness(91%) contrast(85%);
  margin-top: 75px;
}

.apple-loader-text {
  color: limegreen;
  align-content: center;
}

h3 {
  font-family: 'Limelight', cursive;
  color: red;
  font-size: 28px;
}

@media (prefers-reduced-motion: no-preference) {
  .apple-loader {
    animation: apple-loader-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes apple-loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.apple-loader-text {
  font-family: 'Limelight', cursive;
  color: limegreen;
  font-size: 28px;
  margin-top: 20px;
}

.movie-apple {
  height: 200px;
  width: 200px;
  filter: invert(62%) sepia(97%) saturate(601%) hue-rotate(67deg) brightness(91%) contrast(85%);
  display: flex;
}

footer {
  z-index: 3;
  color: limegreen;
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100vw;
  height: 40px;
}

.footer-text {
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
  font-size: 14px;
  color: limegreen;
  font-family: 'Merriweather', serif;
}
