.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #181717;
  height: 100%;
}

h5 {
  color: limegreen;
  font-size: 24px;
  font-family: 'Limelight', cursive;
}

body {
  background-color: #181717;
}
